# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
build/
dist/
.eggs/
*.egg-info/

# Node/Docusaurus
node_modules/
build/
.cache/
.docusaurus/
.env

# Ignorar todo docusaurus excepto docs y config
docusaurus/*
!docusaurus/docs/**
!docusaurus/docusaurus.config.ts
!docusaurus/sidebars.js
!docusaurus/sidebars.ts
!docusaurus/tsconfig.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
dist/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Conda
*.conda
*.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Data
*.csv
*.xlsx
*.gsheet
*.gdoc
*.table

# Docs
site/
